.app {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
  }
  .fc-day {
    background-color: #ffffff !important;
  }
  .fc-timegrid-slots {
    background-color: #ffffff !important;
  }
  .fc-scroller-harness {
    background-color: #ffffff !important;
  }