@media print {
  button {
    display: none !important; /* Hides all buttons when printing */
  }
  body {
    background: white !important;
  }
  #schedule {
    page-break-before: always;
  }
}

  .app {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
  }

/* Add these styles to your existing CSS file */

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc .fc-scrollgrid-section > * {
  border-width: 0;
}

.fc .fc-scrollgrid-section-header > *,
.fc .fc-scrollgrid-section-body > * {
  border-bottom-width: 0;
}

.fc .fc-day-today {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.fc .fc-timegrid-slot {
  height: 3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  color: rgba(255, 255, 255, 0.7);
}

.fc .fc-col-header-cell-cushion {
  color: white;
  font-weight: bold;
}

.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0 2px 0 2px;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc .fc-toolbar-title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.fc .fc-button-primary {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.fc .fc-button-primary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: rgba(255, 255, 255, 0.4);
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  